<div class="project-lists">
  <h4>安哥的项目列表</h4>
  <ul class="project-items">
    <li class="project-item">
      <div class="project-name"><i class="fa fa-ship" aria-hidden="true"></i><a>Docker</a></div>
      <ul class="project-one-items">
        <li><a href="https://github.com/happyAnger6/h3c_docker">docker cni插件</a></li>
        <li><a href="https://github.com/happyAnger6/docker_cnm">docker cnm插件</a></li>
        <li><a href="https://github.com/happyAnger6/docker_tools">docker 工具</a></li>
        <li><a href="https://github.com/happyAnger6/pilot">docker 管理系统</a></li>
      </ul>
    </li>

    <li class="project-item">
      <div class="project-name"><i class="fa fa-rocket" aria-hidden="true"></i><a>Python项目</a></div>
      <ul class="project-one-items">
        <li><a href="https://github.com/happyAnger6/scrapy_tutorials">scrapy爬虫</a></li>
        <li><a href="https://github.com/happyAnger6/anger6Spider">anger6爬虫框架</a></li>
        <li><a href="https://github.com/happyAnger6/sklearn">机器学习</a></li>
      </ul>
    </li>

    <li class="project-item">
      <div class="project-name"><i class="fa fa-apple" aria-hidden="true"></i><a>linux项目</a></div>
      <ul class="project-one-items">
        <li><a href="https://github.com/happyAnger6/linux_aupe">unix环境编程</a></li>
        <li><a href="https://github.com/happyAnger6/linux-kernel-study">linux内核编程</a></li>
        <li><a href="https://github.com/happyAnger6/autoconf_examples">autoconf使用</a></li>
      </ul>
    </li>

    <li class="project-item">
      <div class="project-name"><i class="fa fa-html5" aria-hidden="true"></i><a>Web项目</a></div>
      <ul class="project-one-items">
        <li><a href="https://github.com/happyAnger6/anger6Blog">anger6博客</a></li>
        <li><a href="https://github.com/happyAnger6/issu_tools_express_angularjs2">Angularjs项目</a></li>
        <li><a href="https://github.com/happyAnger6/nodejs_blog">nodejs博客系统</a></li>
        <li><a href="https://github.com/happyAnger6/flask_blog">flask博客</a></li>
      </ul>
    </li>
  </ul>
</div>
