.page-nav {
  background-color: #F8F8F8;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 20px;
}
.page-nums {
  padding: 0 2px;
}
.page-nav a {
  text-decoration: none;
  font-weight: bold;
}

.page-nav a:hover {
  cursor: pointer;
}

a.cur-page{
  color: #0a001f;
}
.prev-page {
  float: left;
}

.next-page {
  float: right;
}
