<div *ngFor="let c of category">
<div class="category-normal" *ngIf="isCategoryShow(c.type)">
<div class="col-md-8 col-sm-8">
  <app-post-list [posts]="posts"></app-post-list>
  <tools-page-nav *ngIf="total_nums > 5" [total_num]="total_nums" [per_num]="5" (cur_page_e)="onSelectPage($event)"></tools-page-nav>
</div>
</div>

<div class="category-chapters" *ngIf="isCategoryShow(c.type)">
  <div class="col-md-4 col-sm-4">
<app-category-side-scroll></app-category-side-scroll>
  </div>

  <div class="col-md-8 col-sm-8">
    <app-category-c-s-main></app-category-c-s-main>
  </div>
</div>
</div>
