.menu-nav {
  margin-bottom: 1em;
}

a:hover {
  cursor: pointer;
}

ul.top-category li:hover {
  background-color: #ffffff;
}

ul.top-category li {
  background-color: #ffffff;
}

ul.top-category a {
  color: #000000;
  height: 60px;
  line-height: 60px;
  padding: 0 30px;
}

ul.sub-category a {
  color: #000000;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
}

ul.sub-category li {
  background-color: #fcfcfc;
}

ul.top-category li.current {
  background-color: #000000;
}

ul.sub-category li.current {
  background-color: #000000;
}

ul.top-category li.current a{
  color: #FFFFFF;
}

ul.sub-category li.current a{
  color: #ffffff;
}
