<div class="navs-menu">

  <div class="home-menu btn-group">
  <button type="button" class="btn btn-default"  routerLink="/" routerLinkActive="active">主页</button>
  </div>

  <div class="category-menu btn-group" *ngFor="let c of topCategories">
  <app-category-menu [category]="c" [allCategories]="allCategories"></app-category-menu>
  </div>

  <div class="admin-menu btn-group">
  <button type="button" class="btn btn-default"  routerLink="/admin" routerLinkActive="active">管理页面</button>
  </div>
</div>
