div.category-list {
  margin-left: 1em;
}

li div{
  display: inline;
}

.category-header .c-name {
  width: 5em;
}

.category-header .c-url {
  margin-left: 15em;
  width: 8em;
}


.category-header .c-level {
  margin-left: 5em;
  width: 2em;
}

.category-header .c-oper {
  margin-left: 5em;
  width: 6em;
}


