<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Anger6的博客</a>
    </div>

  <form class="navbar-form navbar-left" [formGroup]="searchForm">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="找文章" [formControlName]="searchTitle">
    </div>
    <button type="submit" class="btn btn-default">搜索</button>
  </form>
  <ul class="nav navbar-nav navbar-right">
    <li *ngIf="!curUser"><a routerLink="register" routerLinkActive="active">注册</a></li>
    <li *ngIf="!curUser"><a routerLink="login" routerLinkActive="active">登陆</a></li>
    <li *ngIf="curUser"><i class="fa fa-user" aria-hidden="true">你好!{{ curUser.name }}</i><a (click)="onLogout()">退出</a></li>
  </ul>
</nav>
