<div class="container main">
  <div class="col-md-3 col-sm-3 left-side">
    <ul>
      <li class="title">内容</li>
      <li class="item" routerLink="category" routerLinkActive="active">分类管理</li>
      <li class="item" routerLink="post" routerLinkActive="active">文章管理</li>
      <li class="item" routerLink="comment" routerLinkActive="active">评论管理</li>
    </ul>
    <ul>
      <li class="title">设置</li>
      <li class="item">博客设置</li>
    </ul>
  </div>
  <div class="col-md-9 col-sm-9 content">
    <router-outlet></router-outlet>
  </div>
</div>
