li:hover{
  cursor: pointer;
}

ul li {
  padding: 0 10px;
  margin-bottom: 10px;
  margin-top: 1em;
  font-size: 1.1em;
  font-weight: bold;
}

ul li:hover {
  background-color: #b92c28;
  cursor: pointer;
}

li.selected {
  background-color: #9fcdff;
}


