.comment-num {
  padding: 0 20px;
  border-bottom: 3px solid #e6e6e6;
}

.comment-items {
  padding: 0 20px;
}

.comment-items .comment-item {
  position: relative;
  padding: 14px 0;
  border-bottom: 2px solid #f5f5f5;
}

.comment-items .comment-item .comment-head {
  position: relative;
  width: 100%;
  padding-left: 50px;
}

.comment-items .comment-item .comment-body{
  position: relative;
  width: 100%;
  padding-left: 50px;
}

.comment-items .comment-item .comment-footer{
  position: relative;
  width: 100%;
  padding-left: 50px;
  min-height: 28px;
  line-height: 28px;
  font-size: 12px;
}

.comment-head p {
  margin: 0;
}

.comment-head p a{
  cursor: pointer;
  text-decoration: none;
}

.comment-body p {
  line-height: 180%;
}
