div {
  display: inline;
}

div.category-name {
  width: 5em;
}

div.category-url {
  margin-left: 15em;
  text-align: center;
  width: 8em;
}

div.category-level {
  margin-left: 5em;
  width: 2em;
}

div.operator {
  margin-left: 5em;
  text-align: center;
  width: 6em;
}

div.saveFlag a {
  cursor: pointer;
  margin-left: 5px;
}
